html, body, #root {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* So nothing unexpected happens */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}


.app {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    color: #111;
    transition: 0.7s;
}

.app.dark {
    background-color: #141d26;
    color: #fafafa;
}

.app.dark .input-wrapper input {
    /*background-color: rgba(100, 100, 100, 0.1);
    color: #fafafa;
    border-color: rgba(255, 255, 255, 0.2);*/
}

.app.dark #listen {
    border-color: rgba(255, 255, 255, 0.4);
}

.header {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.2s linear;
}

.header.collapsed {
    max-height: 0;
    margin-bottom: 0;
}

#top-buttons {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#fullscreen {
    border: 10px solid transparent;

    transform: rotateZ(0deg);
    transition: transform 0.3s;

    border-top-color: #1da1f2;
    transform-origin: 10px 5px;
}

#moon {
    opacity: 0.8;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#moon:hover {
    opacity: 1;
}

#moon:active {
    opacity: 0.5;
}

#moon span {
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

#moon img {
    height: 20px;
    cursor: pointer;
}

#fullscreen.arrow-up {
    transform: rotateZ(180deg);
}

#fullscreen.arrow-down {
    transform: rotate(360deg);
}

#fullscreen:active {
    opacity: 0.5;
}

.title-wrapper {
    margin-bottom: 60px;
}

.input-wrapper {
    margin-top: 10px;
    white-space: nowrap;
    padding-bottom: 5px;
}

.input-wrapper input {
    padding: 7px 10px;
    font-size: 14px;
    min-width: 100%;
    border-radius: 35px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    line-height: 16px;

    text-transform: uppercase;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;

    outline: none;
}

.input-wrapper input:focus:not(.error) {
    border-color: rgba(29, 161, 242, 0.9) !important;
}

body .app .input-wrapper input.error {
    color: black;
    border-color: rgba(255, 0, 0, 0.5);
    background-color: rgb(254, 242, 242);
}

#listen {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px 18px;
    border-radius: 35px;
    background-color: #1da1f2;
    color: #fafafa;
    font-size: 14px;
    outline: none;
    letter-spacing: 1px;

    cursor: pointer;
    transition: 0.1s;
}

.app.dark #listen:active {
    box-shadow: 0 0 0 2px #1B2836, 0 0 0 4px #1B7FBE;
}

#listen:active {
    box-shadow: 0 0 0 2px #FEFEFE, 0 0 0 4px #1B7FBE;
}

.input-wrapper label {
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.description {
    opacity: 0.5;
    letter-spacing: 0.4px;
}

.label-text {
    letter-spacing: 1px;
}

#tweets {
    margin-top: 20px;
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
    flex: 1;
    width: 100%;

    display: flex;
    position: relative;
}

#tweets > .tweets-symbol-container {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin-right: 10px;
    height: 100%;

    margin: auto;

    display: flex;
    flex-direction: column;
}

#tweets .tweets-scroll {
    position: relative;
    overflow: auto;
    padding: 0 10px;
    margin-top: 10px;
    flex: 1;
    width: 100%;
}

/* Styling tweets */
.tweets-scroll > div > * {
    margin-top: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.tweets-scroll > div {
    opacity: 0;
    width: 100%;

    animation: fadeIn 0.5s linear forwards;
    animation-delay: 1s;
}

.tweets-scroll > div:last-child > * {
    margin-bottom: 0 !important;
}

.symbol {
    border: 1px solid #ff5258;
    border-radius: 20px;

    color: #ff5258;
    font-size: 14px;
    text-transform: uppercase;

    position: relative;

    width: auto;
    margin: 0 auto;
    padding: 7px 10px;
    padding-right: 40px;
    overflow: hidden;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.symbol .remove {
    position: absolute;
    margin-left: 10px;
    cursor: pointer;

    height: 100%;
    width: 30px;
    border-radius: 35px;
    right: 0;

    font-size: 0;
    transition: 0.2s;
}

.remove:hover {
    background: #ff5258;
}

.remove:active {
    opacity: 0.5;
}

.symbol .remove:hover svg path {
    fill: rgba(255, 255, 255, 0.7);
}

.symbol .remove svg {
    height: 100%;
    position: absolute;

    top: 50%;
    left: 50%;

    height: 12px;
    width: 12px;

    margin: -6px;
}

.symbol .remove svg path {
    fill: tomato;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .label-text {
        display: none;
    }

    .description {
        font-size: 14px;
    }

    .title-wrapper {
        margin-bottom: 10px;
    }

    .input-wrapper label {
        width: 100%;
    }

    #top-buttons {
        padding: 10px;
    }

    #moon img {
        height: 25px;
    }

    #moon span {
        display: none;
    }

    #listen {
        display: block;
        margin-top: 10px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }

    body #tweets > .tweets-symbol-container {
        width: 100%;
    }

    body #tweets > .tweets-symbol-container:not(:only-child):first-child {
        width: 90%;
    }

    .symbol {
        padding: 5px 10px;
        padding-right: 35px;
    }

    .symbol .remove {
        width: 28px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
